@font-face {
  font-family: 'National-Light';
  src: url('../fonts/NationalTest-Light.woff');
}

@font-face {
  font-family: 'National-Medium';
  src: url('../fonts/NationalTest-Medium.woff');
}

@import 'modules/base';
@import 'modules/header';
@import 'modules/form';