section {
  font-family: National-Medium, sans-serif;
  margin-top: 5em;

  h2 {
    font-size: 1.75em;
    margin: 0.5em;
  }

  h3 {
    font-family: National-Light, sans-serif;
    font-size: 0.91em;
    margin: 0.5em 1em 1em;
  }

  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 1em;
    border-top: 1px solid black;

    label {
      margin: 0.5em 2em;
    }

    .input-wrapper {
      margin: 0.5em 4em 0;
      display: flex;
      flex-direction: column;

      &:after {
        display: block;
        content: '';
        height: 2px;
        width: 0;
        background-color: #000;
        margin: -2px 0 0;
        transition: all 0.6s cubic-bezier(0.2, 1, 0.2, 1);
      }
    }

    .focused-wrapper {
      margin: 0.5em 4em 0;
      display: flex;
      flex-direction: column;

      &:after {
        display: block;
        content: '';
        height: 2px;
        width: 100%;
        background-color: #000;
        margin: -2px 0 0;
        transition: all 0.6s cubic-bezier(0.2, 1, 0.2, 1);
      }
    }

    input {
      font-family: National-Light, sans-serif;
      font-size: 1em;
      appearance: none;
      border: none;
      border-bottom: 2px solid #cdcdcd;

      &:focus {
        outline: transparent;
      }
    }

    .select-wrapper {
      margin: 0.5em 4em 0;
      position: relative;

      &:after {
        display: block;
        content: '';
        height: 2px;
        width: 0;
        background-color: #000;
        margin: -2px 0 0;
        transition: all 0.6s cubic-bezier(0.2, 1, 0.2, 1);
      }
    }

    .select-focused {
      margin: 0.5em 4em 0;
      position: relative;

      &:after {
        display: block;
        content: '';
        height: 2px;
        width: 100%;
        background-color: #000;
        margin: -2px 0 0;
        transition: all 0.6s cubic-bezier(0.2, 1, 0.2, 1);
      }
    }

    .select-border {
      border-bottom: 2px solid #cdcdcd;
    }

    i {
      pointer-events: none;
      position: absolute;
      right: 0.25em;
      border: solid #cdcdcd;
      border-width: 0 3px 3px 0;
      display: inline-block;
      padding: 3px;
      transform: rotate(45deg);
    }

    select {
      cursor: pointer;
      font-family: National-Light, sans-serif;
      font-size: 1em;
      width: 100%;
      appearance: none;
      background-color: #fff;
      border: none;
      border-radius: 0;

      &:focus {
        outline: transparent;
      }

      &:invalid {
        color: #757575;
      }
    }

    button {
      cursor: pointer;
      color: #fff;
      background-color: #26a69a;
      border-color: #26a69a;
      height: 2em;
      width: 5em;
      font-size: 1.25em;
      align-self: center;
      margin: 1.5em 0;
      transition: all 0.3s ease;

      &:focus {
        outline: transparent;
        background-color: #4fbea8;
        border-color: #4fbea8;
        box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14),
          0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
      }

      &:hover {
        background-color: #4fbea8;
        border-color: #4fbea8;
        box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14),
          0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
      }

      &:active {
        box-shadow: none;
        outline: transparent;
        background-color: #4ab19d;
        border-color: #4ab19d;
      }
    }
  }
}
